@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-block;
  width: max-content;
  animation: scroll 25s linear infinite;
}
.outline-text-true {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

